/* input.select-dropdown.dropdown-trigger{
    display: none;
} */
body{
    box-sizing: border-box;
}
#main-content{
    height: 99vh;
    background-color: aquamarine;
    visibility: hidden;
}
#cohort{
    display: none;
}
#loader-container{
    height: 99vh;
    background-color: #000;
}
#loader-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    left: 50%;
}
.cubo{
    height: 10vh;
    /* position: relative; */
    /* left: 50%; */
}